body {
  /* font-family: 'Varela', serif !important; */
  /* font-family: 'Crimson Text', serif !important; */
  /* font-family: 'Karla', serif !important; */
   /* font-family: 'Lora', serif !important; */
   /* font-family: 'Spectral', serif !important; */
   /* font-family: 'Roboto', serif !important; */
   /* font-family: 'Montserrat', serif !important; */
   /* font-family: 'Rubik', serif !important; */
   /* font-family: 'Work Sans', serif !important; */
   /* FAVORITE */
   /* font-family: 'Poppins', serif !important; */
   /* FAVORITE */
   /* font-family: 'Nunito', serif !important; */
   /* FAVORITE */
   /* font-family: 'Oxygen', serif !important; */
   /* font-family: 'Oxygen', serif !important; */
}

/* select, input {
  font-size: 20px !important;
  margin-bottom: 20px !important;
}

label {
  font-size: 25px; 
} */